{% extends "mainapp/base.html" %}

{% block content %}
	

<div class="header">
	{% if request.user.is_authenticated %}
	<div>
		<h1>Welcome {{request.user}}</h1>
		<h3>you have {{count}} incomplete task{{ count|pluralize:'s' }}</h3>
	</div>
	
</div>



<a href="{% url "logout" %}">Log Out</a>
{% else %}
<a href="{% url "login" %}">Log In</a>
{% endif %}

<hr>

<h1>Django's Todo List</h1>


<form action="" method="GET" accept-charset="utf-8">
	
	<input type="text" name="search-area" placeholder="Search Tasks" value="{{search}}">
	<input type="submit" value="Search">

</form>




<a href="{% url 'createtask' %}">Add Task</a>

<table>
	<tr>
		<th>Tasks</th>
	</tr>
	{% for task in taskee %}
	<tr>
		<td>{{task.title}}</td>
		<td>
			<a class="btn" href="{% url 'updatetask' task.id %}">Update</a>
			<a class="btn" href="{% url 'deletetask' task.id %}">Delete</a>
			
		</td>
	</tr>
	{% empty %}
		<h3>Todo list is EMPTY</h3>
	{% endfor %}
</table>

{% endblock content %}